body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 24px;
}

.logo img{
  max-height: 30px;
}

.search-container {
  position: relative;
  
}

#searchInput {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 200px;
  height: 30px;
  transition: width 0.4s ease-in-out;
}

#searchInput:focus {
  width: 250px;
}

#searchBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60px;
  height: 25px;
}

#searchBtn:hover {
  background-color: #45a049;
}

.full_canvas {
  border: 2px solid #ccc;
  background-color: #5c6155;
  padding-left: 20px; 
  padding-right: 20px; 
  border-radius: 20px; 
}

.half_canvas {
  border: 2px solid #ccc;
  background-color: #4b5359;
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 20px; 
  padding-bottom: 20px;
  border-radius: 20px; 
}



.chart_label {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-weight: bold;
  color: rgb(255, 255, 255);
}



.navbar {
  position: relative;
}


/*  */


/* Styles for filter button */
#filterBtn {
  position: fixed;
  top: 97%;
  left: 95%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #47aa4b;
  color: white;
  cursor: pointer;
}

/* Styles for hidden form */
#filterForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: none; /* Initially hidden */
}

#applyBtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  display: block;
    margin: 0 auto;
}